extends ../layouts/index.pug

block content
  form(action = '/courses', method = 'post')
    div
      label Название:
        input(type = 'text', name = 'title', value = title)
    div
      label Описание:
        input(type = 'text', name = 'description')= description
    input(type = 'submit', value = 'Создать')
